**/.DS_Store
**/Thumbs.db
*.gram
*.userdb
*dict*
LICENSE
build
custom_phrase.txt
default.yaml
double*
installation.yaml
liangfen*
lua
melt_eng*
node_modules
opencc
others
rime.lua
rime_ice.schema.yaml
squirrel.yaml
symbols*
user.yaml
weasel_style.yaml
t9.schema.yaml
