*.gram
*.userdb
**/.DS_Store
**/Thumbs.db
*dict*
build
custom_phrase.txt
default.yaml
double*
installation.yaml
liangfen*
LICENSE
lua
melt_eng*
node_modules
opencc
others
radical_pinyin.schema.yaml
rime_ice.schema.yaml
rime.lua
squirrel.yaml
symbols*
t9.schema.yaml
user.yaml
weasel*.yaml
